* {
	box-sizing: border-box;
}

body {
	background: #FAEBD7 url('../images/art_nouveau_fire.jpg');
	color: #333;
}

a {
	text-decoration: none;
	color: #d6ebf0;
}

a:hover { color: white; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
  	background-image: linear-gradient(#27383f, #151e25);
	color: #749a9d;
	min-height: 100px;
	height: 10vh;

}

header h1 {
	padding: 30px 60px;
	font-size: 30px;
	font-family: 'Orbitron', sans-serif;
}

h2{
	font-family: 'Orbitron', sans-serif;
	color: #edc34a;
}

/* Nav styles */
nav { background-image: linear-gradient(#1f2e35, #385054); }
nav ul { 
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 1vh 1vh; }
nav a { 	color: #acacac;; }
nav a:hover { color: white; }


/* Main styles */
main { 
	background-color: rgba(23,34,40,.97);	
	display: grid;
	grid-template-columns: 60% 40%;
	height: 81vh;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	font-family: 'Lato', sans-serif;
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	margin-bottom: 40px;
}

aside {
	padding: 40px 10px;
}

/* Footer styles */
footer { 
	background-image: linear-gradient(#385054, #1f2e35);	color: white;
	text-align: center;	
	height: 5vh;

 }
 footer p { padding: 15px; font-family: 'Lato', sans-serif; }

