* {
	box-sizing: border-box;
}

body {
	background: black; /*url('../images/art_nouveau_fire.jpg')*/;
	color: #333;
	height: 12000px;
}

a {
	text-decoration: none;
	color: #d6ebf0;
}

p{
    font-size: 150%;
	line-height: 30px;
	color: white;
	font-family: eightBitFont;	
}

a:hover { color: white; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
	color: #749a9d;
	min-height: 100px;
	height: 10vh;

}

header h1 {
	padding: 30px 60px;
	font-size: 30px;
	font-family: 'Orbitron', sans-serif;
}

h2{
	font-family: 'Orbitron', sans-serif;
	color: #edc34a;
}

h3{
    font-size: 100%;
	line-height: 30px;
	color: white;
	font-family: eightBitFont;		
}

/* Nav styles */
nav { background-color: black; }
nav ul { 
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 1vh 1vh; }
nav a { 	color: #acacac;; }
nav a:hover { color: white; }


/* Main styles */
main { 

}

.game_grid{
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(20, 1fr);
	display: grid;
	height: 80vh;	
}

section {

}

.text{
		border: 10px solid #ffae00;

}

section ul, aside ul {
	font-family: 'Lato', sans-serif;
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	margin-bottom: 40px;
}

aside {
	padding: 40px 10px;
}

/* Footer styles */
footer { 
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);	
	display: grid;	
	height: 10vh;
 }

 footer p { padding: 15px; font-family: 'Lato', sans-serif; }

 button{
 	cursor: pointer;
 }

 .pointer{
 	cursor: pointer;
 }

.text_box_placement{
	grid-column: 3 / 13;	
	grid-row: 16/ 20;	
}

.text_box_settings{
	border: 4px solid gray;
	width: 600px;
	height: 150px;
	margin: auto;
	padding: 26px;
	transition: all .5s ease;
	background-color:black;
}


.margin_top_reduction{
	margin-top: 16px;
position: absolute;
}

.border_unclickable{
	border: 4px solid gray;	
}

.border_clickable{
	border: 4px solid white;	
}

.border_choice{
	border: 4px solid #ffae00;	
}

.border_song{
	border: 4px solid #9d07e2;	
}

.line-1{
    position: relative;
    width: 600px;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-100%);    
}

/* Animation */
.anim-typewriter1{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter2{
  animation: typewriter 2s steps(43) 3s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;

}

.anim-typewriter3{
  animation: typewriter 2s steps(43) 1s .3 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter4{
  animation: typewriter 2s steps(43) 2s .5 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;

}

.anim-typewriter5{
  animation: typewriter 2s steps(43) 3.5s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;

}

.anim-typewriter6{
  animation: typewriter 2s steps(43) 1s .6 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;

}

.anim-typewriter7{
  animation: typewriter 2s steps(43) 2.4s .6 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_2_t{
  animation: typewriter 2s steps(43) 2s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_3_t{
  animation: typewriter 2s steps(43) 3.3s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_4_t{
  animation: typewriter 2s steps(43) 4.3s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_5_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_6_t{
  animation: typewriter 2s steps(43) 2.5s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_7_t{
  animation: typewriter 2s steps(43) 4s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
  
}

.anim-typewriter_one_8_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_9_t{
  animation: typewriter 2s steps(43) 2.5s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_10_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_11_t{
  animation: typewriter 2s steps(43) 2s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_12_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_13_t{
  animation: typewriter 2s steps(43) 2.5s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_14_t{
  animation: typewriter 2s steps(43) 4.5s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_15_t{
  animation: typewriter 2s steps(43)1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_16_t{
  animation: typewriter 2s steps(43) 2.5s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_17_t{
  animation: typewriter 2s steps(43) 4s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_18_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_19_t{
  animation: typewriter 2s steps(43) 2.5s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_20_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_21_t{
  animation: typewriter 2s steps(43) 2.5s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_22_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_23_t{
  animation: typewriter 2s steps(43) 2.5s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_24_t{
  animation: typewriter 2s steps(43) 4s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_24_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_25_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_26_t{
  animation: typewriter 2s steps(43) 3.5s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_27_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_28_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_28_1_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_28_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_28_2_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_29_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_29_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_30_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_30_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_31_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_31_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_31_2_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_32_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_33_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_33_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_34_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_35_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_36_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_37_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_38_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_39_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_40_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_40_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_41_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_41_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_42_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_43_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_43_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_44_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_45_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_one_46_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_four_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_2_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_3_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_4_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_5_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_6_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_7_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_8_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_9_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_10_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_11_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_12_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_13_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_14_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_15_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_16_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_17_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_18_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_19_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_20_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_21_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_22_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_23_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_24_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_25_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_four_26_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_2_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_3_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_4_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_5_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_6_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_7_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_8_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_9_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_10_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_11_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_12_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_13_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_14_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_15_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_16_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_17_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_18_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_19_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_20_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_21_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_22_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_23_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_24_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_25_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_26_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_27_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_28_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_29_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_30_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_31_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_32_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_33_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_34_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_five_35_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_six_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_2_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_3_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_4_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_5_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_6_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_7_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_8_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_9_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_10_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_11_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_12_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_13_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_14_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_15_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_16_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_17_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_18_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_19_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_20_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_21_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_22_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_23_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_24_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_25_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_26_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_27_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_28_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_29_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_30_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_31_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_32_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_six_33_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_seven_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_2_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_3_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_4_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_5_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_6_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_7_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_8_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_9_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_10_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_11_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_12_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_13_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_14_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_15_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_16_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_17_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_18_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_19_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_20_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_21_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_22_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_23_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_24_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_25_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_26_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_27_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_28_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_29_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_30_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_31_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_32_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_33_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_34_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_seven_35_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_eight_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_2_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_3_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_4_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_5_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_6_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_7_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_8_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_9_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_10_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_11_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_12_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_13_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_14_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_15_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_16_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_17_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_18_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_19_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_20_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_21_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_22_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_23_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_24_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_25_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_26_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_27_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_eight_28_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter_nine_1_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_2_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_3_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_4_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_5_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_6_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_7_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_8_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_9_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_10_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_11_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_12_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_13_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_14_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_15_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_16_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_17_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_18_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_19_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_20_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_21_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_22_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_23_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_24_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_25_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_26_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_27_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_28_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_29_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_30_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_31_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_32_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_33_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_34_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_35_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_36_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_37_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_38_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_39_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_40_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_41_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_42_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_43_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_44_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_45_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_46_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_47_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_48_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_49_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_50_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_51_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_52_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_53_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_54_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_55_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_56_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_57_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_58_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_59_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_60_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_61_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_62_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_63_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_64_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_65_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_66_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_67_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_68_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_69_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_70_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_71_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_72_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_73_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_74_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_75_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_76_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_77_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_78_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_79_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_80_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_81_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_82_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_83_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_84_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_85_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_86_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_87_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_88_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_89_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_90_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_91_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_92_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_93_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_94_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_95_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_96_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_97_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_98_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_99_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_100_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_101_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_102_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}
.anim-typewriter_nine_103_t{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}


@keyframes typewriter{
  from{width: 0;}
  to{width: 600px}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,0);}
  to{border-right-color: transparent;}
}



.display_none_text{
	display: none;
}

.display_none_button{
	display: none;
}

.screen_width{
	min-width: 800px;
	max-width: 1200px;	
}

.btn_1_placement{

	padding-top: 8px;
	grid-column: 1 / 5;	
	grid-row: 1/ 2;
	text-align: center;	
}

.btn_2_placement{
	padding-top: 8px;	
	grid-column: 5 / 9;
	grid-row: 1 / 2;
	text-align: center;
}

.btn_1 {
	overflow: hidden;
	background: none;
	font-size: 1.5rem;
	color: orange;
	border: 8px solid #ffae00;
	min-width: 350px;
	max-width: 500px;
	height: 60px;
}
 
.btn_2 {
	overflow: hidden;
	background: none;
	font-size: 1.5rem;
	color: orange;
	border: 8px solid #ffae00;
	min-width: 350px;
	max-width: 500px;
	height: 60px;
}

.animate {
  -webkit-animation: myfirst .3s;
  animation: myfirst .3s;
}

@keyframes myfirst {
	0% {border: 10.5px solid #ffde00;;	color: #ffde00;}
	30% {border: 10.5px solid #ffde00;;	color: #ffde00;}    
	40% {border: 10px solid #ffae00;	color: #ffae00;}
	60% {border: 10px solid #ffae00;	color: #ffae00;}
	70% {border: 10.5px solid #ffde00;;	color: #ffde00;}
	90% {border: 10.5px solid #ffde00;;	color: #ffde00;}   
	100% {border: 10px solid #ffae00;	color: #ffae00;}
}

@-webkit-keyframes myfirst {
	0% {border: 10.5px solid #ffde00;;	color: #ffde00;}
	30% {border: 10.5px solid #ffde00;;	color: #ffde00;}    
	40% {border: 10px solid #ffae00;	color: #ffae00;}
	60% {border: 10px solid #ffae00;	color: #ffae00;}
	70% {border: 10.5px solid #ffde00;;	color: #ffde00;}
	90% {border: 10.5px solid #ffde00;;	color: #ffde00;}   
	100% {border: 10px solid #ffae00;	color: #ffae00;}
}
 
.scene_1{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}

.scene_2{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}

.scene_3{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}

.scene_4{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}

.scene_5{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}

.scene_6{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}

.scene_7{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}

.scene_8{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}

.scene_9{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}

.scene_10{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}

.scene_11{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}

.scene_12{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}

.scene_13{
	height: 100vh;
	width: 100%;
	position: relative;
	z-index:-1;
}