* {
	box-sizing: border-box;
}

body {
	background: white /*url('../images/art_nouveau_fire.jpg')*/;
	color: #333;
	height: 10000px;
}

a {
	text-decoration: none;
	color: #d6ebf0;
}

p{
	color: white;
}

a:hover { color: white; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
  	background-color: blue;
	color: #749a9d;
	min-height: 100px;
	height: 10vh;

}

header h1 {
	padding: 30px 60px;
	font-size: 30px;
	font-family: 'Orbitron', sans-serif;
}

h2{
	font-family: 'Orbitron', sans-serif;
	color: #edc34a;
}

/* Nav styles */
nav { background-color: black; }
nav ul { 
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 1vh 1vh; }
nav a { 	color: #acacac;; }
nav a:hover { color: white; }


/* Main styles */
main { 
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(20, 1fr);
	display: grid;
	background-color: black;
	height: 80vh;
}

section {

}

.text{
		border: 10px solid #ffae00;

}

section ul, aside ul {
	font-family: 'Lato', sans-serif;
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	margin-bottom: 40px;
}

aside {
	padding: 40px 10px;
}

/* Footer styles */
footer { 
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);	
	background-color: blue;
	display: grid;	
	height: 10vh;
 }

 footer p { padding: 15px; font-family: 'Lato', sans-serif; }

 button{
 	cursor: pointer;
 }

.text_box_placement{
	grid-column: 3 / 13;	
	grid-row: 16/ 20;	
}

.text_box_settings{
	border: 4px solid white;
	width: 600px;
	height: 150px;
	margin: auto;
	padding: 26px;

}


.line-1{
    position: relative;
    width: 600px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter1{
  animation: typewriter 2s steps(43) 1s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter2{
  animation: typewriter 2s steps(43) 3s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;

}

.anim-typewriter3{
  animation: typewriter 2s steps(43) 5s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;
}

.anim-typewriter4{
  animation: typewriter 2s steps(43) 7s 1 normal both,
             blinkTextCursor 500ms steps(43) infinite normal;

}

@keyframes typewriter{
  from{width: 0;}
  to{width: 600px}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,0);}
  to{border-right-color: transparent;}
}



.display_none_text{
	display: none;
}


.screen_width{
	min-width: 800px;
	max-width: 1200px;	
}

.btn_1_placement{

	padding-top: 12px;
	grid-column: 1 / 5;	
	grid-row: 1/ 2;
	text-align: center;	
}

.btn_2_placement{
	padding-top: 12px;	
	grid-column: 5 / 9;
	grid-row: 1 / 2;
	text-align: center;
}

.btn_1 {
	overflow: hidden;
	background: none;
	font-size: 1.5rem;
	color: orange;
	border: 8px solid #ffae00;
	min-width: 350px;
	max-width: 500px;
	height: 70px;
}
 
.btn_2 {
	overflow: hidden;
	background: none;
	font-size: 1.5rem;
	color: orange;
	border: 8px solid #ffae00;
	min-width: 350px;
	max-width: 500px;
	height: 70px;
}

.animate {
  -webkit-animation: myfirst .3s;
  animation: myfirst .3s;
}

@keyframes myfirst {
	0% {border: 10.5px solid #ffde00;;	color: #ffde00;}
	30% {border: 10.5px solid #ffde00;;	color: #ffde00;}    
	40% {border: 10px solid #ffae00;	color: #ffae00;}
	60% {border: 10px solid #ffae00;	color: #ffae00;}
	70% {border: 10.5px solid #ffde00;;	color: #ffde00;}
	90% {border: 10.5px solid #ffde00;;	color: #ffde00;}   
	100% {border: 10px solid #ffae00;	color: #ffae00;}
}

@-webkit-keyframes myfirst {
	0% {border: 10.5px solid #ffde00;;	color: #ffde00;}
	30% {border: 10.5px solid #ffde00;;	color: #ffde00;}    
	40% {border: 10px solid #ffae00;	color: #ffae00;}
	60% {border: 10px solid #ffae00;	color: #ffae00;}
	70% {border: 10.5px solid #ffde00;;	color: #ffde00;}
	90% {border: 10.5px solid #ffde00;;	color: #ffde00;}   
	100% {border: 10px solid #ffae00;	color: #ffae00;}
}
 
